.languages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

main > h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 30px;
  color: rgb(41, 41, 41);
}