.language-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  margin: 20px;
  border: solid 2px black;
  border-radius: 4px;
  box-shadow: 5px 5px 15px black;
  background-color: white;
}

.language-display > img {
  height: 150px;
  margin-bottom: 15px;
}

.language-display > h3 {
  font-size: 20px;
  font-weight: bold;
}